<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartnote_demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FullScreen" >
        <activity
            android:name="com.example.smartnote_demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartnote_demo.quick_note.CanvasActivity"
            android:label="@string/title_activity_canvas" >
        </activity>
        <activity
            android:name="com.smartnote_demo.notepad.CanvasActivity"
            android:label="@string/title_activity_canvas" >
             <intent-filter >
                  <action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />                
            </intent-filter>           
        </activity>
        <activity
            android:name="com.smartnote_demo.directories_menu.Directories"
            android:label="@string/title_activity_directories" >
        </activity>
        <activity
            android:name="com.smartnote_demo.directories_menu.CreateDir"
            android:label="@string/title_activity_create_dir" >
        </activity>
        <activity
            android:name="com.smartnote_demo.notepad_creator.NotepadCreator" >
        </activity>
        <activity
            android:name="com.smartnote_demo.events_menu.Calendar" >
        </activity>
       <activity 
           android:name="com.dropbox.client2.android.AuthActivity" 
           android:launchMode="singleTask" 
           android:configChanges="orientation|keyboard">
            <intent-filter>
                <data android:scheme="db-18zpadpciv1g63b"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>     
      	</activity>       
		<activity 
		    android:name="com.smartnote_demo.share.FacebookLogin">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
      	</activity>
    </application>
</manifest>
